body {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  background-color: blue;
  background-image: url("coolWallpaper")

}
img {
    max-width: 300px;
    max-height: 300px;
}
.firstsection {
    margin: 5px;
    padding: 5px;
}
.options {
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
h3 {
  font-size: 26px;  
}
ol {

text-align: left;
margin-bottom: 10px;
padding-bottom: 15px;
gap: 5px;
}
li {
    font-size: 23px;
    
}
h1 {
    font-weight: bold;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.score {
    font-weight: bold;
    
}

.whowonEach {
    font-size: 29px;
    text-align: center;
}

.scoretracker {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.finalWinner {
    text-align: center;
    font-size: 40px;
}
img:hover {
    border-style: ridge;
    border: 2px; solid yellow;
    border-radius: 20px;
    background-color: yellow;
    
}